asgiref
certifi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
idna
psycopg2-binary
requests
sqlparse
typing_extensions
tzdata
urllib3
whitenoise